/arduino
/cura_profile.ini
/Files_English_Mega S
/flat_m3_10.skp
/flat_m3_16.skp
/fotos
/imp_test_draw_curve.scad
/m4_14_din7984.skp
/nut_m10_14.skp
/nut_m4.skp
/nut_m4_20mm.skp
/parts_old
/print_cover_1.skp
/print_cover_2.skp
/print_holder_nano_1.skp
/print_holder_nano_2.skp
/print_holder_power_1.skp
/print_holder_power_2.skp
/print_holder_sensors_1.skp
/print_holder_sensors_2.skp
/print_holder_sensors_3.skp
/print_holder_sensors_4.skp
/print_honeycomb_1.skp
/print_honeycomb_2.skp
/print_honeycomb_3.skp
/print_hub_1.skp
/print_hub_2.skp
/print_impeller_1.skp
/print_impeller_2.skp
/print_outer_connect.skp
/print_outer_controls.skp
/print_outer_foot.skp
/print_outer_outlet.skp
/print_outer_ring.skp
/purifier_13.skp